
.body {
    font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
}


.form__label {
    font-weight: bold;
}

.form__label, ::placeholder {
    padding-left: 5px;
}

.form .form__button {
    background-color: #4D90FE;
    border: 1px solid #3079ED;
    overflow:hidden;
    border-radius: 6px;
    color: white;
}

.form .form__button:hover{
    border: 1px solid #2F5BB7;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}